
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .pagination .active {
    background-color: #113366;
    color: white;
    
  }
  
  .pagination .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  