.hover-nav-link li:hover{
  background-color: #113366;
  color: white;
  transition-duration: 1s;
}

.hover-nav-link li{
  padding: 14px 16px;
}

.bg{
  background-color: white;
}

.dp :hover{
  color: black;
  background-color: white;
  padding: 0px;
}